<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"> <!-- Link to your custom CSS file -->
</head>
<body class="bg-light">
    <div class="container text-center py-5 text-center">
        <h1 class="text-4xl font-semibold text-primary mb-6">Welcome to the <%= title %> !!</h1>

        <p class="lead custom-description"><strong><%= description %></strong></p>

        <img src="/images/peakxps.jpg" alt="Developer Hub" class="img-fluid rounded-lg shadow mb-8" style="max-width: 100%;">

        <a href="https://example.com" 
        class="btn btn-primary btn-lg px-4 py-2" 
        style="background-color: #2e8fcf; color: white; border: 2px solid #247aa1; border-radius: 8px;">
        Learn More About Apeksh
        </a>
    </div>
</body>
</html>