body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/peakxps.jpg'); /* Set the background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    color: #fff; /* White text */
}

h1 {
    color: #007bff;
    font-size: 3rem;
}

p {
    color: #6c757d;
    font-size: 1.2rem;
}

.custom-description {
    color: #f0eded; /* Change this to your desired color */
}

.btn {
    padding: 0.5rem 1.5rem;
    background-color: #007bff;
    color: grey;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.hero {
    background-image: url('/images/peakxps.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}